.title {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.counter {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #29a19c;
  border-radius: 50%;
  &__number {
    font-size: 36px;
    color: #29a19c;
  }
  &__tag {
    font-size: 12px;
  }
}
