.wrapper {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  background-color: transparent;
}

.main {
  width: 100%;
  background-color: transparent;
  padding: 20px 70px 0 70px;
}
