$blue: #29a19c;
$yellow: #ecca75;
$red: #f05454;

$primary--light: #ffffff;
$primary--dark: #2c3440;
$secondary--light: #fafafa;
$secondary--dark: #222831;
$font--light: #282846;
$font--dark: #f9f9f9;
